p.caption {
  margin-top: 10px;
}
pre {
  word-break: normal;
  word-wrap: normal;
}

.book  {
  background-color: #fffff8;
}

.section {
  background-color: #fffff8;
}

.body-inner {
    background-color: #fffff8;
}

.book .book-body .page-wrapper {
    position: relative;
    outline: 0;
    background-color: #fffff8;
}

.book .book-body .page-wrapper .page-inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0 40px;
}

.book .book-header {
    overflow: visible;
    height: 48px;    /* adjust to match title space*/
    padding: 0 8px;
    z-index: 2;
    font-family: Roboto sans-serif;
    font-size: .85em;
    color: #7e888b;
    background-color: #fffff8;
    /* background: 0 0; */
}

/* only way to set bgcolor of top bar?*/
.book-body.fixed {
  background-color: #fffff8;
}

/* Rather than resize the header, just get rid of line */
.book.with-summary .book-header.fixed {
  background-color: #fffff8;
  font-variant: small-caps;
  /*font-family: Stalemate Roboto Sans; ignored as all it is doing is taking from index title*/
  border-bottom: 0 solid rgba(0,0,0,.07);  /*just remove it; this makes height in .book-header above moot*/
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.07);
}

i {
  background-color: #fffff8;
}

